@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MusteriLayout.cshtml";
}

<div>
    <img src="~/panel/ltr/img/png/arac.png" alt="" style="height: 550px; width:1350px;">
    <h1>ARAÇ REZERVASYON SİSTEMİ</h1>
</div>
<section class="section gray-bg" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Şirketler</h2>
                    <p>Şirketler Hakkında Bilgilendirme</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h5>Pandora</h5>
                            <p>Toplamda 500' e yakın aracı vardır. Türkiye'nin 81 ilinde de şubeleri bulunmaktadır.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h5>Hit</h5>
                            <p>Toplamda 500' e yakın aracı vardır. Türkiye'nin 81 ilinde de şubeleri bulunmaktadır.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h5>addCar</h5>
                            <p>Toplamda 500' e yakın aracı vardır. Türkiye'nin 81 ilinde de şubeleri bulunmaktadır.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h5>Budget</h5>
                            <p>Toplamda 500' e yakın aracı vardır. Türkiye'nin 81 ilinde de şubeleri bulunmaktadır.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h5>Alamo</h5>
                            <p>Toplamda 500' e yakın aracı vardır. Türkiye'nin 81 ilinde de şubeleri bulunmaktadır.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <h5>Ace Rent a car</h5>
                            <p>Toplamda 500' e yakın aracı vardır. Türkiye'nin 81 ilinde de şubeleri bulunmaktadır.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section gray-bg" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Seyahat Bilgisi</h2>
                    <div class="col-lg-12 m-15px-tb">
                        <div class="resume-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>DİL</h5>
                                    <p>TÜRKÇE</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>PARA BİRİMİ</h5>
                                    <p>TL</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>ÜLKE KODU</h5>
                                    <p>90</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>YOL YÖNÜ</h5>
                                    <p>SAĞDAN AKAN TRAFİK</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>ŞEHİR DIŞI HIZ SINIRI</h5>
                                    <p>90 KM/S</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>ŞEHİR İÇİ HIZ SINIRI</h5>
                                    <p>50 KM/S</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section gray-bg" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>İletişim</h2>
                    <div class="col-lg-12 m-15px-tb">
                        <div class="resume-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>Mail</h5>
                                    <p>info@domainname.com</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>ADRES</h5>
                                    <p>İzmir/Ulukent Seyrek mah.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <h5>Telefon No</h5>
                                    <p>0533 555 55 20</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


