@model EntityLayer.Entities.SirketYetkili
@{
    Layout = null;
}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Güncelleme</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" />
    <link rel="stylesheet" href="~/panel/ltr/css/Loginstyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="~/panel/ltr/js/Login.js"></script>
</head>
<body>

    <form action="/SirketYoneticiLogin/Guncelleme" method="post" class="login-form">
        <h3>Yeni şifrenizi girin</h3>
        <br />
        <br />
        <div class="field">
            <div class="ui huge icon input">
                <input type="password" id="password" name="Sifre" placeholder="Şifre" />
                <i class="circular eye link icon" onclick="togglePassword()"></i>
            </div>
        </div>
        <br />
        <br />
        <br />
        <p><input type="submit" class="logbtn" value="Güncelle"></p>

    </form>

    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });

    </script>
    <script src="~/panel/ltr/js/app.js"></script>




</body>
</html>
